* {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  background: #f5f5fa;
}
ul {
  list-style: none;
}
.flex-col {
  display: flex;
  flex-flow: column;
}
.flex-row {
  display: flex;
  flex-flow: row;
}
.space {
  justify-content: space-between;
}
.wrap {
  flex-wrap: wrap;
}
.page-width-limit {
  width: 1240px;
  margin: auto;
}
a {
  text-decoration: none;
  color: unset;
}
button {
  background: transparent;
  border: none;
}
.cac-hang {
  > * {
    margin: 16px 0;
  }
}